In [1]:
import numpy as np
scores = np.random.randint(50,101,size=(50,5))
scores

array([[ 78,  53,  68,  68,  97],
       [ 70,  50,  56,  52,  68],
       [ 60,  81,  53,  72,  69],
       [ 75,  54,  91,  55,  50],
       [ 83,  61,  68,  99,  89],
       [ 85,  53,  79,  72,  72],
       [ 91,  63,  89,  58,  87],
       [ 72,  53,  73,  78,  77],
       [ 94,  89,  99, 100,  99],
       [ 51,  52,  64,  67,  64],
       [ 72,  75,  64,  73,  81],
       [ 97,  54,  98,  83,  88],
       [ 72,  72,  91,  98,  61],
       [ 55,  71,  72,  87,  92],
       [ 72,  69,  60,  85,  93],
       [ 52,  82,  65,  86,  67],
       [ 71,  95,  78,  70,  53],
       [ 66,  93,  81,  81,  89],
       [ 98,  59,  86,  83,  93],
       [ 99,  82,  66,  99,  50],
       [ 78,  84,  73,  86,  86],
       [ 92,  53,  87,  51,  93],
       [ 78,  81,  60,  67,  52],
       [ 68,  86,  63,  63,  52],
       [ 92,  69,  64,  58,  74],
       [ 90,  56,  66,  66,  99],
       [ 73,  63,  60,  52,  60],
       [ 83,  76,  90,  61,  64],
       [ 64,  61,  95,  92,  50],
       [ 88,  54,  69,  68,  88],
       [ 77,  57,  94,  76,  57],
       [ 85,  74,  72,  58,  99],
       [ 55,  51,  57,  53,  93],
       [ 57,  87,  65, 100,  71],
       [ 81,  71,  67,  75,  74],
       [ 96,  67,  68,  76,  97],
       [ 93,  53,  69,  77,  96],
       [ 79,  70,  90,  54,  89],
       [ 93,  58,  61,  99,  58],
       [ 64,  54, 100,  64,  75],
       [ 87,  98,  61,  94,  83],
       [ 82,  65,  73,  72,  94],
       [ 92,  98,  54,  56,  65],
       [ 94,  68,  80,  61,  55],
       [ 99,  97,  50,  56,  92],
       [ 64,  77,  70,  69,  92],
       [ 86,  74,  70,  81,  87],
       [ 53,  65,  58,  92,  70],
       [ 98,  95,  87,  56,  87],
       [ 99,  55,  63,  76,  58]], dtype=int32)

In [2]:
import pandas as pd
df = pd.DataFrame(scores,
            index = [f"學生{i+1}" for i in range(50)],
            columns = ["國文","英文","數學","地理","歷史"]
)
df

      國文  英文   數學   地理  歷史
學生1   78  53   68   68  97
學生2   70  50   56   52  68
學生3   60  81   53   72  69
學生4   75  54   91   55  50
學生5   83  61   68   99  89
學生6   85  53   79   72  72
學生7   91  63   89   58  87
學生8   72  53   73   78  77
學生9   94  89   99  100  99
學生10  51  52   64   67  64
學生11  72  75   64   73  81
學生12  97  54   98   83  88
學生13  72  72   91   98  61
學生14  55  71   72   87  92
學生15  72  69   60   85  93
學生16  52  82   65   86  67
學生17  71  95   78   70  53
學生18  66  93   81   81  89
學生19  98  59   86   83  93
學生20  99  82   66   99  50
學生21  78  84   73   86  86
學生22  92  53   87   51  93
學生23  78  81   60   67  52
學生24  68  86   63   63  52
學生25  92  69   64   58  74
學生26  90  56   66   66  99
學生27  73  63   60   52  60
學生28  83  76   90   61  64
學生29  64  61   95   92  50
學生30  88  54   69   68  88
學生31  77  57   94   76  57
學生32  85  74   72   58  99
學生33  55  51   57   53  93
學生34  57  87   65  100  71
學生35  81  71   67   75  74
學生36  96  67   68   76  97
學生37  93  53   69   77  96
學生38  79  70   90   54  89
學生39  93  58   61   99  58
學生40  64  54  100   64  75
學生41  87  98   61   94  83
學生42  82  65   73   72  94
學生43  92  98   54   56  65
學生44  94  68   80   61  55
學生45  99  97   50   56  92
學生46  64  77   70   69  92
學生47  86  74   70   81  87
學生48  53  65   58   92  70
學生49  98  95   87   56  87
學生50  99  55   63   76  58

In [5]:
#透過欄的選取
df['國文']
df['英文']
df[['國文','英文']]

      國文  英文
學生1   78  53
學生2   70  50
學生3   60  81
學生4   75  54
學生5   83  61
學生6   85  53
學生7   91  63
學生8   72  53
學生9   94  89
學生10  51  52
學生11  72  75
學生12  97  54
學生13  72  72
學生14  55  71
學生15  72  69
學生16  52  82
學生17  71  95
學生18  66  93
學生19  98  59
學生20  99  82
學生21  78  84
學生22  92  53
學生23  78  81
學生24  68  86
學生25  92  69
學生26  90  56
學生27  73  63
學生28  83  76
學生29  64  61
學生30  88  54
學生31  77  57
學生32  85  74
學生33  55  51
學生34  57  87
學生35  81  71
學生36  96  67
學生37  93  53
學生38  79  70
學生39  93  58
學生40  64  54
學生41  87  98
學生42  82  65
學生43  92  98
學生44  94  68
學生45  99  97
學生46  64  77
學生47  86  74
學生48  53  65
學生49  98  95
學生50  99  55

In [8]:
#透過index的名稱選取
df.loc['學生1']
df.loc[['學生1','學生2']]

     國文  英文  數學  地理  歷史
學生1  78  53  68  68  97
學生2  70  50  56  52  68

In [ ]:
#透過index的索引值選取
df.iloc[0]
df.iloc[[0,1]]

     國文  英文  數學  地理  歷史
學生1  78  53  68  68  97
學生2  70  50  56  52  68

In [12]:
df.iloc[5:]
df.iloc[-5:]

      國文  英文  數學  地理  歷史
學生46  64  77  70  69  92
學生47  86  74  70  81  87
學生48  53  65  58  92  70
學生49  98  95  87  56  87
學生50  99  55  63  76  58

In [13]:
df

      國文  英文   數學   地理  歷史
學生1   78  53   68   68  97
學生2   70  50   56   52  68
學生3   60  81   53   72  69
學生4   75  54   91   55  50
學生5   83  61   68   99  89
學生6   85  53   79   72  72
學生7   91  63   89   58  87
學生8   72  53   73   78  77
學生9   94  89   99  100  99
學生10  51  52   64   67  64
學生11  72  75   64   73  81
學生12  97  54   98   83  88
學生13  72  72   91   98  61
學生14  55  71   72   87  92
學生15  72  69   60   85  93
學生16  52  82   65   86  67
學生17  71  95   78   70  53
學生18  66  93   81   81  89
學生19  98  59   86   83  93
學生20  99  82   66   99  50
學生21  78  84   73   86  86
學生22  92  53   87   51  93
學生23  78  81   60   67  52
學生24  68  86   63   63  52
學生25  92  69   64   58  74
學生26  90  56   66   66  99
學生27  73  63   60   52  60
學生28  83  76   90   61  64
學生29  64  61   95   92  50
學生30  88  54   69   68  88
學生31  77  57   94   76  57
學生32  85  74   72   58  99
學生33  55  51   57   53  93
學生34  57  87   65  100  71
學生35  81  71   67   75  74
學生36  96  67   68   76  97
學生37  93  53   69   77  96
學生38  79  70   90   54  89
學生39  93  58   61   99  58
學生40  64  54  100   64  75
學生41  87  98   61   94  83
學生42  82  65   73   72  94
學生43  92  98   54   56  65
學生44  94  68   80   61  55
學生45  99  97   50   56  92
學生46  64  77   70   69  92
學生47  86  74   70   81  87
學生48  53  65   58   92  70
學生49  98  95   87   56  87
學生50  99  55   63   76  58

In [15]:
import numpy as np
total = np.sum(df,axis=1)
mean = np.mean(df,axis=1)

In [16]:
df["總分"] = total
df["平均"] = mean

In [17]:
df

      國文  英文   數學   地理  歷史   總分    平均
學生1   78  53   68   68  97  364  72.8
學生2   70  50   56   52  68  296  59.2
學生3   60  81   53   72  69  335  67.0
學生4   75  54   91   55  50  325  65.0
學生5   83  61   68   99  89  400  80.0
學生6   85  53   79   72  72  361  72.2
學生7   91  63   89   58  87  388  77.6
學生8   72  53   73   78  77  353  70.6
學生9   94  89   99  100  99  481  96.2
學生10  51  52   64   67  64  298  59.6
學生11  72  75   64   73  81  365  73.0
學生12  97  54   98   83  88  420  84.0
學生13  72  72   91   98  61  394  78.8
學生14  55  71   72   87  92  377  75.4
學生15  72  69   60   85  93  379  75.8
學生16  52  82   65   86  67  352  70.4
學生17  71  95   78   70  53  367  73.4
學生18  66  93   81   81  89  410  82.0
學生19  98  59   86   83  93  419  83.8
學生20  99  82   66   99  50  396  79.2
學生21  78  84   73   86  86  407  81.4
學生22  92  53   87   51  93  376  75.2
學生23  78  81   60   67  52  338  67.6
學生24  68  86   63   63  52  332  66.4
學生25  92  69   64   58  74  357  71.4
學生26  90  56   66   66  99  377  75.4
學生27  73  63   60   52  60  308  61.6
學生28  83  76   90   61  64  374  74.8
學生29  64  61   95   92  50  362  72.4
學生30  88  54   69   68  88  367  73.4
學生31  77  57   94   76  57  361  72.2
學生32  85  74   72   58  99  388  77.6
學生33  55  51   57   53  93  309  61.8
學生34  57  87   65  100  71  380  76.0
學生35  81  71   67   75  74  368  73.6
學生36  96  67   68   76  97  404  80.8
學生37  93  53   69   77  96  388  77.6
學生38  79  70   90   54  89  382  76.4
學生39  93  58   61   99  58  369  73.8
學生40  64  54  100   64  75  357  71.4
學生41  87  98   61   94  83  423  84.6
學生42  82  65   73   72  94  386  77.2
學生43  92  98   54   56  65  365  73.0
學生44  94  68   80   61  55  358  71.6
學生45  99  97   50   56  92  394  78.8
學生46  64  77   70   69  92  372  74.4
學生47  86  74   70   81  87  398  79.6
學生48  53  65   58   92  70  338  67.6
學生49  98  95   87   56  87  423  84.6
學生50  99  55   63   76  58  351  70.2

In [20]:
five_df = df.iloc[:5]
five_df[five_df['總分'] >= 380]

     國文  英文  數學  地理  歷史   總分    平均
學生5  83  61  68  99  89  400  80.0

In [21]:
df[df['總分'] >= 380]

      國文  英文  數學   地理  歷史   總分    平均
學生5   83  61  68   99  89  400  80.0
學生7   91  63  89   58  87  388  77.6
學生9   94  89  99  100  99  481  96.2
學生12  97  54  98   83  88  420  84.0
學生13  72  72  91   98  61  394  78.8
學生18  66  93  81   81  89  410  82.0
學生19  98  59  86   83  93  419  83.8
學生20  99  82  66   99  50  396  79.2
學生21  78  84  73   86  86  407  81.4
學生32  85  74  72   58  99  388  77.6
學生34  57  87  65  100  71  380  76.0
學生36  96  67  68   76  97  404  80.8
學生37  93  53  69   77  96  388  77.6
學生38  79  70  90   54  89  382  76.4
學生41  87  98  61   94  83  423  84.6
學生42  82  65  73   72  94  386  77.2
學生45  99  97  50   56  92  394  78.8
學生47  86  74  70   81  87  398  79.6
學生49  98  95  87   56  87  423  84.6