In [1]:
#AI建立一個function
#資料來源:scores = np.random.randint(50,101,size=(50, 5))
#欄位: ['國文', '英文', '數學', '自然', '社會','總分','平均','排名']
#索引: ['學生' + str(i) for i in range(1, 51)]
#建立DataFrame
import numpy as np
import pandas as pd 

def build_scores_dataframe(scores):
    df = pd.DataFrame(scores,
                      columns=['國文', '英文', '數學', '自然', '社會'],
                      index=['學生' + str(i) for i in range(1, 51)])
    df.index.name = '學生'
    df.columns.name = '科目'
    sum_values = df.sum(axis=1)
    mean_values = df.mean(axis=1)
    df['總分'] = sum_values
    df['平均'] = mean_values
    rank_values = sum_values.rank(method='min', ascending=False)
    df['排名'] = rank_values
    return df

scores = np.random.randint(50,101,size=(50, 5))
df = build_scores_dataframe(scores)
df

科目     國文  英文   數學   自然  社會   總分    平均    排名
學生
學生1    82  98   53   93  53  379  75.8  22.0
學生2    78  98   81   70  58  385  77.0  15.0
學生3    55  78   63   54  91  341  68.2  40.0
學生4    57  60   61   51  62  291  58.2  50.0
學生5    59  88   69   94  59  369  73.8  30.0
學生6    73  92   72   98  62  397  79.4  12.0
學生7    76  70   75   84  55  360  72.0  31.0
學生8    67  92   66   82  68  375  75.0  27.0
學生9    73  76   53   63  88  353  70.6  36.0
學生10   93  63   79   95  79  409  81.8   9.0
學生11   81  88   88   68  63  388  77.6  14.0
學生12   96  53   74   50  87  360  72.0  31.0
學生13   96  52   79   79  74  380  76.0  20.0
學生14   93  90   72   74  69  398  79.6  11.0
學生15   63  74   55   58  71  321  64.2  46.0
學生16   86  74  100   50  68  378  75.6  23.0
學生17   55  70   61   58  81  325  65.0  43.0
學生18   64  55   77   90  63  349  69.8  38.0
學生19   79  93   60   96  56  384  76.8  18.0
學生20   80  50   90   59  98  377  75.4  24.0
學生21   65  53  100   97  96  411  82.2   7.0
學生22   52  77   55   56  68  308  61.6  48.0
學生23   52  70   53   95  70  340  68.0  41.0
學生24   89  84   85   91  76  425  85.0   2.0
學生25   94  58   88   79  57  376  75.2  25.0
學生26   94  76   52   82  56  360  72.0  31.0
學生27   86  60   50   74  76  346  69.2  39.0
學生28   78  50   84   63  76  351  70.2  37.0
學生29   89  95   89   67  81  421  84.2   4.0
學生30   97  53   61   63  51  325  65.0  43.0
學生31   78  96   73   50  62  359  71.8  34.0
學生32   70  78   90   94  58  390  78.0  13.0
學生33   62  63   93   63  95  376  75.2  25.0
學生34   50  72   73   59  71  325  65.0  43.0
學生35   62  87   87   63  72  371  74.2  29.0
學生36   98  86   91   56  91  422  84.4   3.0
學生37   99  80   54   81  71  385  77.0  15.0
學生38   55  87   60   81  72  355  71.0  35.0
學生39   95  94   82   83  59  413  82.6   6.0
學生40   73  87   50  100  70  380  76.0  20.0
學生41   52  58   50   71  76  307  61.4  49.0
學生42   60  92   88  100  61  401  80.2  10.0
學生43   94  73   60   94  89  410  82.0   8.0
學生44   65  58   74   63  50  310  62.0  47.0
學生45   96  75   60   86  56  373  74.6  28.0
學生46  100  73   99   51  59  382  76.4  19.0
學生47   91  85   88   76  81  421  84.2   4.0
學生48   75  58   51   76  75  335  67.0  42.0
學生49   98  97   78   98  56  427  85.4   1.0
學生50   55  80   91   79  80  385  77.0  15.0

In [ ]:
#選擇欄位
df1 = df[['國文', '英文', '數學', '自然', '社會']]

def apply_statistics(series):
    """傳出[平均, 最高, 最低, 中間值]"""
    return series.agg(['mean', 'max', 'min', 'median'])

df2 = df1.apply(apply_statistics,axis=0) #apply是用來對DataFrame的每一列或每一行應用函數
df2.index = ['平均','最高','最低','中間值']
df2

科目      國文     英文      數學      自然     社會
平均    76.6  75.38   72.74   75.14  70.32
最高   100.0  98.00  100.00  100.00  98.00
最低    50.0  50.00   50.00   50.00  50.00
中間值   78.0  76.00   73.50   76.00  70.00

In [ ]:
s1 = df1['國文'].agg(['mean', 'max', 'min', 'median']) #agg是用來對Series進行聚合操作
s2 = df1['英文'].agg(['mean', 'max', 'min', 'median'])
s3 = df1['數學'].agg(['mean', 'max', 'min', 'median'])
s4 = df1['自然'].agg(['mean', 'max', 'min', 'median'])
s5 = df1['社會'].agg(['mean', 'max', 'min', 'median'])

s2

mean      75.38
max       98.00
min       50.00
median    76.00
Name: 英文, dtype: float64

In [6]:
stats = pd.DataFrame([s1, s2, s3, s4, s5], index=['國文', '英文', '數學', '自然', '社會'])
stats

     mean    max   min  median
國文  76.60  100.0  50.0    78.0
英文  75.38   98.0  50.0    76.0
數學  72.74  100.0  50.0    73.5
自然  75.14  100.0  50.0    76.0
社會  70.32   98.0  50.0    70.0